# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
proj.unity/*.csproj
**/*Test*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*/proj.cs/*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
trunk/Assets/Asset Store Art.meta
trunk/Assets/ww_Scenes.cs
trunk/Assets/ww_Scenes.cs.meta
trunk/Assets/Asset Store Art/
trunk/Assets/EmptyScene.unity.meta
.unity.meta


proj\.unity/Assets/GeneratedClasses/

proj\.unity/Assets/Script Forge\.zip\.meta

proj\.cs/ScriptForge/bin/
