# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
trunk/Assets/Asset Store Art.meta
trunk/Assets/ww_Scenes.cs
trunk/Assets/ww_Scenes.cs.meta
trunk/Assets/Asset Store Art/
trunk/Assets/EmptyScene.unity.meta
.unity.meta
trunk/Assets/Level 1.unity.meta
trunk/Assets/Level 2.unity.meta
trunk/Assets/Script Forge/TagManager.cs
trunk/Assets/Script Forge/TagManager.cs.meta
trunk/Assets/SortingLayers.cs
trunk/Assets/SortingLayers.cs.meta
trunk/Assets/Test.tt.meta
trunk/Assets/feafw.unity.meta
trunk/Assets/sf_Layers.cs
trunk/Assets/sf_Layers.cs.meta
